# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.map

.DS_Store

node_modules/
.sass-cache/

db.sqlite3

# Translations
*.mo
*.pot

# Django stuff:
*.log
target/

# ignore local.py
local.py

# ignore pycharm files
.idea

# staticfiles
staticfiles/
node_modules/
.sass-cache/