{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{% static 'css/normalize.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/bower/toastr/toastr.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>

    <header id="header">
        <div class="container">
            <h3 class="logo pull-left">
                <a href="/">Shortener</a>
            </h3>

            {% if not request.user.is_authenticated %}
                <ul class="menu-list pull-right">
                    <li><a href="{% url 'core:login'%}">Login</a></li>
                    <li><a href="{% url 'core:signup' %}">Cadastrar</a></li>
                </ul>
            {% else %}
                <span class="pull-right">
                   <a href="{% url 'core:logout'%}" class="logout pull-right">logout</a>
                </span>
                <span class="greetings pull-right">
                    Olá, {{request.user.name}} | &nbsp;
                </span>
            {% endif %}
        </div>
    </header>

    {% block content %} {% endblock content %}

    <div id="footer">
        <div class="container"> </div>
    </div>


    <!-- scripts-->

    <script type="text/javascript" src="{% static 'assets/bower/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/bower/toastr/toastr.min.js' %}"></script>

    {% block scripts %} {% endblock scripts %}

    <!-- scripts -->

</body>
</html>