{% extends 'base.html' %}
{% load static %}

{% block title %} Shortener {% endblock title %}

{% block content %}

<div id="content">
    <div class="container">
        <div id="shortener">
            <form id="shortener-form" action="#">
                <div>
                    <label for="url">Cole aqui sua url: </label>
                    <input type="url" id="url"  placeholder="http://"/>
                </div>
                <div>
                    <button id="short" class="btn">encurtar</button>
                </div>
            </form>
            <div id="shortened"></div>
        </div>
    </div>
</div>

{% if links %}
    <div id="shortener-content">
        <div class="container">
            <div class="panel">
                <div class="panel-header">
                    <h3>Links</h3>
                </div>
                <div class="panel-body">
                    <table id="link-table" class="table">
                    <thead>
                        <tr>
                            <th class="text-left">URL</th>
                            <th class="text-left">DATA</th>
                            <th class="text-left">URL ENCURTADA</th>
                            <th class="text-center">CLICKS</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for link in links %}
                            <tr>
                                <td class="text-left">
                                    <a href="{{link.url}}" target="_blank" class="link">{{link.url}}</a>
                                </td>
                                <td class="text-align">
                                    {{link.submitted | date}}
                                </td>
                                <td class="text-left">
                                    <a href="{{ link.get_absolute_url }}" class="link">{{base_url}}{{link.to_base62}}</a>
                                </td>
                                <td class="text-center">
                                    {{link.visits}}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
</div>
{% endif %}

{% endblock content %}

{% block scripts %}

    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

{% endblock scripts %}