@import "_mixins.scss";

/*
    style.scss
*/

// font
$font: 'Open Sans', sans-serif;

// palette
$yellow: #FCCD1B;
$orange: #F86B4F;
$green: #40D3B7;
$blue: #6CC1ED;
$dark-blue: #2969B0;
$red: #F22613;
$yellow-hover: #ffffd3;
$white: #ffffff;


* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    font: {
        family: $font;
        size: 100%;
    }
    color: #6E6E6E;
    height: 100%;
}

a {
    text-decoration: none;
    color: #337ab7;

    &:hover {
        text-decoration: underline;
    }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


#header {
    position: relative;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid $dark-blue;
    padding: 1em;
    margin-bottom: 20px;
    background-color: $orange;

    .logo {
        margin: 0;
        padding: 0;
        text-weigth: bold;
        a {
            color: $white;
        }
    }
}

#shortener {
    position: relative;
    margin-top: 2em;
    background-color: $orange;
    @include radius(4px);
    float: left;
    display: block;
    width: 100%;
}

#shortener-form {
    display: block;
    float: left;
    padding: 1em 1.8em 1em 1em;
    width: 100%;

    > div {
        float: left;
        display: inline-block;
    }

    > div:first-child
    {
        width: 80%;

        > label {
            color: #fff;
            font: {
                size: 16px;
                weight: bold;
            }
        }

        > input {
            display: block;
            width: 100%;
            padding: 15px;
            @include radius(4px);
            border: 3px solid $dark-blue;
            margin-top: 10px;
            -webkit-transition: all 0.2s;
            &:focus {
                outline: 0;
            }
        }
    }

    > div:last-child {
        width: 20%;
        button {
            position: relative;
            top: 31px;
            margin-left: 10px;
            padding: 1.050em;
            width: 100%;
        }
    }
}

#shortener-content {
    display: block;
    float: left;
    width: 100%;
    margin-top: 1em;
}

#signup-form {
    width: 60%;
}

#url-shortened {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 0 0 2em 1em;

    > div {
        background-color: $yellow;
        display: block;
        float: left;
        padding: 1em;
        color: #fff;
        @include radius(4px);

        span {
            display: block;
        }

        a {
           color: #fff;
           font: {
              weight: bold;
              size: 1.2em;
           }
        }
    }
}

#footer {
    padding: 4em;
}

/*
    components
*/

.greetings {
    color: $white;
}

.logout {
    color: $white;
}

.form {

    padding: 1em;

    > div {
        position: relative;
        margin-bottom: 8px;
        display: block;
        width: 100%;

        label {
            display: block;
            width: 100%;
        }

        input {
            display: block;
            width: 100%;
            padding: 15px;
            @include radius(4px);
            margin-top: 4px;
            border: 1px solid $dark-blue;

            &:focus {
                outline: 0;
            }
        }
    }
}

.menu-list {
    margin: 0;
    list-style: none;
    display: block;

    > li + li {
        margin-left: 0.5em;
    }

    > li {
        display: inline-block;
        font-family: $font;
        font-size: 14px;

        a {
            background-color: $yellow;
            border-bottom: 3px solid $dark-blue;
            text-decoration: none;

            color: $dark-blue;
            padding: 10px 10px;
            @include radius(4px);

            @include transition(all 0.2s);

            &:hover {
                background-color: $dark-blue;
                border-bottom: 3px solid $yellow;
                color: $yellow;
            }
        }
    }
}

.btn {
    background-color: $yellow;
    border: none;
    border-bottom: 3px solid $dark-blue;
    padding: 10px;
    color: $dark-blue;
    @include radius(4px);
    @include transition(all 0.2s);

    &:hover {
        background-color: $dark-blue;
        border-bottom: 3px solid $yellow;
        color: $yellow;
    }

    &:focus {
        outline: 0;
    }

    &.btn-white {
        background-color: $white;
    }
}

.table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;

    thead {
        display: table-header-group;
        vertical-align: middle;
        border-bottom: 2px solid $yellow;

        tr {
            display: table-row;
            th {
                padding: 8px;
            }
        }
    }

    tbody
    {
        display: table-row-group;
        vertical-align: middle;

        tr {
            display: table-row;
            border-bottom: 1px solid $yellow;
            @include transition(all 0.2s);

            td {
                line-height: 1.42857143;
                padding: 12px;
            }

            &:hover {
                background-color: $yellow-hover;
                cursor: pointer;
            }
        }
    }
}

.panel
{
    border: 1px solid $yellow;
    @include radius(4px);

    .panel-header {
        padding: 1em;
        background-color: $yellow;
        color: $dark-blue;

        h3 {
            margin: 0;
        }
    }
}

/*
    utils
*/

.text-danger {
    color: $red;
}

.help-text {
    color: $dark-blue;
}

.field-errors {
    color: $orange;
    padding: 0 1em 0 1em;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.to-center {
    margin: 0 auto !important;
    float: none !important;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.field-error {
    border: 3px solid $yellow !important;
}

/*
    responsive
*/

@media (min-width: 768px) {

    .container {
        width: 750px;
    }
}

@media only screen and (min-width: 1024px) {

    .container {
        width: 970px;
    }
}

@media only screen and (min-width: 1224px) {

    .container {
        width: 1170px;
    }
}