@import "_mixins.scss";

/*
    style.scss
*/

$font: 'Open Sans', sans-serif;
$first-color: #3498db; // blue
$second-color: #eee; // gray
$third-color: #2980b9; // dark blue

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    font: {
        family: $font;
        size: 100%;
    }
    color: #6E6E6E;
}

a {
    text-decoration: none;
    color: #337ab7;

    &:hover {
        text-decoration: underline;
    }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


#header {
    position: relative;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid $second-color;
    padding: 1em;
    margin-bottom: 20px;

    .logo {
        color: $first-color;
        margin: 0;
        padding: 0;
    }
}

#shortener {
    position: relative;
    margin-top: 2em;
    background-color: $second-color;
    @include radius(4px);
    float: left;
    display: block;
    width: 100%;
}

#shortener-form {
    float: left;
    padding: 1em 1.8em 1em 1em;
    width: 100%;

    > div {
        float: left;
        display: inline-block;
    }

    > div:first-child
    {
        width: 80%;

        > label {
            font: {
                size: 16px;
                weight: bold;
            }
        }

        > input {
            display: block;
            width: 100%;
            padding: 15px;
            @include radius(4px);
            border: 1px solid transparent;
            margin-top: 10px;
            &:focus {
                outline: 0;
            }
        }
    }

    > div:last-child {
        width: 20%;

        button {
            position: relative;
            top: 31px;
            margin-left: 10px;
            padding: 0.899em;
            width: 100%;
        }
    }
}

#shortener-content {
    margin-top: 12%;
}

#signup-form {
    width: 60%;
}

#url-shortened {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 1em;
}

/*
    components
*/


.form {

    padding: 1em;

    > div {
        position: relative;
        margin-bottom: 8px;
        display: block;
        width: 100%;

        label {
            display: block;
            width: 100%;
        }

        input {
            display: block;
            width: 100%;
            padding: 15px;
            @include radius(4px);
            margin-top: 4px;
            border: 1px solid $second-color;

            &:focus {
                outline: 0;
            }
        }
    }
}

.menu-list {
    margin: 0;
    list-style: none;
    display: block;

    > li + li {
        margin-left: 0.5em;
    }

    > li {
        display: inline-block;
        font-family: $font;
        font-size: 14px;

        a {
            background-color: $first-color;
            border-bottom: 3px solid $third-color;
            text-decoration: none;

            color: #fff;
            padding: 10px 10px;
            @include radius(4px);

            &:hover {
                background-color: $second-color;
                border-bottom: 3px solid #bdc3c7;
                color: $first-color;
            }
        }
    }
}

.btn {
    background-color: $first-color;
    border: 1px solid $third-color;
    border-bottom: 3px solid $third-color;
    padding: 10px;
    color: #fff;
    @include radius(4px);

    &:focus {
        outline: 0;
    }

    &:active {
        border-bottom: 1px solid $third-color;
    }
}

.table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;

    thead {
        display: table-header-group;
        vertical-align: middle;
        border-bottom: 2px solid $second-color;

        tr {
            display: table-row;
            th {
                padding: 8px;
            }
        }
    }

    tbody {
        display: table-row-group;
        vertical-align: middle;
        tr {
            display: table-row;
            border-bottom: 1px solid $second-color;
            td {
                line-height: 1.42857143;
                padding: 12px;
            }

            &:hover {
                background-color: #ffffd3;
                cursor: pointer;
            }
        }
    }
}

.panel
{
    border: 1px solid $second-color;
    @include radius(4px);

    .panel-header {
        padding: 1em;
        background-color: $second-color;

        h3 {
            margin: 0;
        }
    }
}

/*
    utils
*/

.text-danger {
    color: #a94442;
}

.help-text {
    color: $first-color;
}

.field-errors {
    color: #a94442;
    padding: 0 1em 0 1em;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.to-center {
    margin: 0 auto !important;
    float: none !important;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.field-error {
    border: 1px solid #a94442 !important;
}

/*
    responsive
*/

@media (min-width: 768px) {

    .container {
        width: 750px;
    }
}

@media only screen and (min-width: 1024px) {

    .container {
        width: 970px;
    }
}

@media only screen and (min-width: 1224px) {

    .container {
        width: 1170px;
    }
}