/*
    mixins.scss
*/
/*
    style.scss
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  color: #6E6E6E;
  height: 100%; }

a {
  text-decoration: none;
  color: #337ab7; }
  a:hover {
    text-decoration: underline; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

#header {
  position: relative;
  width: 100%;
  height: 60px;
  border-bottom: 2px solid #2969B0;
  padding: 1em;
  margin-bottom: 20px;
  background-color: #F86B4F; }
  #header .logo {
    margin: 0;
    padding: 0;
    text-weigth: bold; }
    #header .logo a {
      color: #ffffff; }

#shortener {
  position: relative;
  margin-top: 2em;
  background-color: #F86B4F;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  float: left;
  display: block;
  width: 100%; }

#shortener-form {
  display: block;
  float: left;
  padding: 1em 1.8em 1em 1em;
  width: 100%; }
  #shortener-form > div {
    float: left;
    display: inline-block; }
  #shortener-form > div:first-child {
    width: 80%; }
    #shortener-form > div:first-child > label {
      color: #fff;
      font-size: 16px;
      font-weight: bold; }
    #shortener-form > div:first-child > input {
      display: block;
      width: 100%;
      padding: 15px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      border: 1px solid transparent;
      margin-top: 10px;
      -webkit-transition: all 0.2s; }
      #shortener-form > div:first-child > input:focus {
        outline: 0; }
  #shortener-form > div:last-child {
    width: 20%; }
    #shortener-form > div:last-child button {
      position: relative;
      top: 31px;
      margin-left: 10px;
      padding: 0.899em;
      width: 100%; }

#shortener-content {
  display: block;
  float: left;
  width: 100%;
  margin-top: 1em; }

#signup-form {
  width: 60%; }

#url-shortened {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  padding: 0 0 2em 1em; }
  #url-shortened > div {
    background-color: #FCCD1B;
    display: block;
    float: left;
    padding: 1em;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
    #url-shortened > div span {
      display: block; }
    #url-shortened > div a {
      color: #fff;
      font-weight: bold;
      font-size: 1.2em; }

#footer {
  padding: 4em; }

/*
    components
*/
.greetings {
  color: #ffffff; }

.logout {
  color: #ffffff; }

.form {
  padding: 1em; }
  .form > div {
    position: relative;
    margin-bottom: 8px;
    display: block;
    width: 100%; }
    .form > div label {
      display: block;
      width: 100%; }
    .form > div input {
      display: block;
      width: 100%;
      padding: 15px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      margin-top: 4px;
      border: 1px solid #2969B0; }
      .form > div input:focus {
        outline: 0; }

.menu-list {
  margin: 0;
  list-style: none;
  display: block; }
  .menu-list > li + li {
    margin-left: 0.5em; }
  .menu-list > li {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 14px; }
    .menu-list > li a {
      background-color: #FCCD1B;
      border-bottom: 3px solid #2969B0;
      text-decoration: none;
      color: #2969B0;
      padding: 10px 10px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px; }

.btn {
  background-color: #FCCD1B;
  border: none;
  border-bottom: 3px solid #2969B0;
  padding: 10px;
  color: #2969B0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  .btn:focus {
    outline: 0; }
  .btn.btn-white {
    background-color: #ffffff; }

.table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  font-size: 14px; }
  .table thead {
    display: table-header-group;
    vertical-align: middle;
    border-bottom: 2px solid #FCCD1B; }
    .table thead tr {
      display: table-row; }
      .table thead tr th {
        padding: 8px; }
  .table tbody {
    display: table-row-group;
    vertical-align: middle; }
    .table tbody tr {
      display: table-row;
      border-bottom: 1px solid #FCCD1B; }
      .table tbody tr td {
        line-height: 1.42857143;
        padding: 12px; }
      .table tbody tr:hover {
        background-color: #ffffd3;
        cursor: pointer; }

.panel {
  border: 1px solid #FCCD1B;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  .panel .panel-header {
    padding: 1em;
    background-color: #FCCD1B;
    color: #2969B0; }
    .panel .panel-header h3 {
      margin: 0; }

/*
    utils
*/
.text-danger {
  color: #F22613; }

.help-text {
  color: #2969B0; }

.field-errors {
  color: #F86B4F;
  padding: 0 1em 0 1em; }

.pull-left {
  float: left !important; }

.pull-right {
  float: right !important; }

.to-center {
  margin: 0 auto !important;
  float: none !important; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.field-error {
  border: 3px solid #FCCD1B !important; }

/*
    responsive
*/
@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media only screen and (min-width: 1024px) {
  .container {
    width: 970px; } }
@media only screen and (min-width: 1224px) {
  .container {
    width: 1170px; } }

/*# sourceMappingURL=style.css.map */
